<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}">제목</h2>
    <span th:text="|조회수 ${question.views}|"></span>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}">내용</div>
        </div>
        <div>
            <a class="comment_toggle" href="javascript:void(0);">댓글 목록</a>
            <!-- 댓글반복 시작-->
            <div id="comment_list" style="display: none">
                <div th:each="comment : ${question.comments}">
                    <div class="display-flex">
                        <span th:text="${comment.author.name}">댓글 작성자</span>
                        <span th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}">댓글 작성날짜</span>
                    </div>
                    <div th:text="${comment.content}">댓글 내용</div>
                </div>

                <!-- 댓글 폼 -->
                <form  th:object="${commentForm}" th:action="@{|/comment/create/question/${question.id}|}" method="post"
                       onsubmit="return check(this)">
                    <div th:fragment="~{form_errors :: formErrosFragment}"></div>
                    <textarea sec:authorize="isAnonymous()" disabled class="form-control" th:field="*{content}" id="content"
                              rows="10"></textarea>
                    <textarea sec:authorize="isAuthenticated()" class="form-control" th:field="*{content}" id="content"
                              rows="10"></textarea>
                    <input class="btn btn-primary my-2" type="submit" value="댓글등록">
                </form>
            </div>
            <!-- 댓글반복 끝-->
        </div>
        <div class="d-flex justify-content-end">
            <div th:if="${question.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">modified at</div>
                <div th:text="${#temporals.format(question.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2"><span th:if="${question.author != null}" th:text="${question.author.name}"></span></div>
                <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                    th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.name}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.name}"
                   th:data-uri="@{|/question/delete/${question.id}|}" th:text="삭제"></a>
            </div>
        </div>
    </div>

    <!-- 답변의 갯수 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

    <!-- 답변페이징 시작 -->
    <div th:if="${!answerPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!answerPage.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${answerPage.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, answerPage.totalPages-1)}"
                th:if="${page>=answerPage.number-5 and page <= answerPage.number+5}"
                th:classappend="${page == answerPage.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!answerPage.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${answerPage.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 답변페이징 끝 -->
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${answerPage}">
        <div class="card-body">
            <a th:id="|answer_${answer.id}|"></a>
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2"><span th:if="${answer.author != null}" th:text="${answer.author.name}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div>
                <a class="comment_toggle"
                   th:id="|answer_${answer.id}_comment_toggle|" href="javascript:void(0);">댓글 목록</a>
                <!-- 댓글반복 시작-->
                <div class="comment_list" style="display: none" >
                    <div th:each="comment : ${answer.comments}">
                        <div class="display-flex">
                            <span th:text="${comment.author.name}">댓글 작성자</span>
                            <span th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}">댓글 작성날짜</span>
                        </div>
                        <div th:text="${comment.content}">댓글 내용</div>
                    </div>

                    <!-- 댓글 폼 -->
                    <form  th:object="${commentForm}" th:action="@{|/comment/create/answer/${answer.id}|}" method="post"
                        onsubmit="return check(this)">
                        <div th:fragment="~{form_errors :: formErrosFragment}"></div>
                        <textarea sec:authorize="isAnonymous()" disabled class="form-control" th:field="*{content}" id="content"
                                  rows="10"></textarea>
                        <textarea sec:authorize="isAuthenticated()" class="form-control" th:field="*{content}" id="content"
                                  rows="10"></textarea>
                        <input class="btn btn-primary my-2" type="submit" value="댓글등록">
                    </form>
                </div>
                <!-- 댓글반복 끝-->
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                    th:data-uri="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a sec:authorize="isAuthenticated()" th:href="@{|/answer/modify/${answer.id}|}"
                   class="btn btn-sm btn-outline-secondary"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.name}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                    class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                    th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.name}"
                    th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝 -->

    <!-- 답변 작성 -->
    <form class="my-3" id="answer-form" th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}"
          onsubmit="return check(this);" method="post">
        <div th:fragment="~{form_errors :: formErrosFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled class="form-control" th:field="*{content}" id="content"
                  rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" class="form-control" th:field="*{content}" id="content"
                  rows="10"></textarea>
        <input class="btn btn-primary my-2" type="submit" value="답변등록">
    </form>
</div>

<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName('delete');
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm('정말로 삭제하시겠습니까?')) {
                location.href = this.dataset.uri;
            }
        });
    });
    const recommend_elements = document.getElementsByClassName('recommend');
    Array.from(recommend_elements).forEach(function (element){
        element.addEventListener('click', function () {
            if(confirm("정말로 추천하시겠습니까?")){
                location.href = this.dataset.uri;
            }
        })
    })

    const toggles = document.getElementsByClassName('comment_toggle');
    Array.from(toggles).forEach(t => t.addEventListener('click', function () {
        console.log(t);
        if (t.nextElementSibling.style.display === 'none') {
            t.nextElementSibling.style.display = 'block';
        } else {
            t.nextElementSibling.style.display = 'none';
        }
    }));

    function check(form) {
        if (form.content.value === "") {
            alert("내용을 입력해주세요.");
            return false;
        }
        return true;
    }
</script>
</html>